
h1 {
  display: flex;
  justify-content: center;
 color:#094BCE;
 font-size:160px;
 font-weight:normal ;
 padding: 50px 20px 20px 0px
;}
 
h2 {
 display: flex;
  justify-content: center;
  color:#094BCE; font-size:40px;
;}

p { display: flex;
  justify-content: center;
  font-family:Georgia,serif;
 color:#666666;
 font-size:15px;
 line-height:2em;
 margin:0 0 0 60px;
  text-align: left;}

blockquote { display: flex;
  justify-content: center;
  font-family:Georgia,serif;
 color:#666666;
 font-size:16px;
 line-height:3em;
 margin:0 0 0 60px;
  text-align: left;}

.experiencia
{  
  position:absolute;
    top:600px;
    left:-50px;
  background-color: #d0bfb4;
border: 2px solid #CCC;
  padding: 1em;
  margin: 1em 0em 2em 2em;
  height: 470px;
  width: 800px;
  }

.educacion
{  
  position:absolute;
    top:600px;
    left:780px;
  background-color: #d0bfb4;
border: 2px solid #CCC;
  padding: 1em;
  margin: 1em 0em 2em 2em;
  height: 470px;
  width: 1500px;
  }
.programas{position:absolute;
    top:1100px;
    left:-50px;
  background-color: #d0bfb4;
border: 2px solid #CCC;
  padding: 1em;
  margin: 1em 0em 2em 2em;
  height: 200px;
  width: 2000px;}

.aptitudes{position:absolute;
    top:1300px;
    left:-50px;
  background-color: #d0bfb4;
border: 2px solid #CCC;
  padding: 1em;
  margin: 1em 0em 2em 2em;
  height: 200px;
  width: 2000px;
  
}
